.sly-login-prompt-container {
    color: #E91E63;
    background: #FCE4EC;
    position: absolute;
    border-bottom: 1px solid #F48FB1;
    font-size: 1.2rem;
    margin-top: -24px;
    margin-left: -24px;
    padding: 2px 12px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 15px;
}