.sly-service-managers-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    // background-color: #FCE4EC;
    // background-color: #673ab7;
    margin: 0 12px;
    padding-right: 60px;
}
.sly-service-managers-container {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    // background-color: #ff9800;
}
.sly-service-managers-components {
    // border: 2px dashed #F44336;
    // margin: 2px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 320px;
    margin-top: 60px;
}
.sly-service-managers-components-left {
    // border: 2px dashed #2196f3;
    // background-color: #fce4ec;
    // margin: 0 2px;
    flex: 1;
    word-break: break-all;
    
    border: 1px dashed #9C27B0;
    padding: 12px;
    margin-bottom: 12px;
    overflow-y: auto;
}
.sly-service-managers-components-hori-center {
    // border: 2px dashed #2196f3;
    // background-color: #ede7f6;
    // margin: 0 2px;
    flex: 1;
    word-break: break-all;

    border: 1px dashed #9C27B0;
    padding: 12px;
    margin-bottom: 12px;
}
.sly-service-managers-components-right {
    // border: 2px dashed #2196f3;
    // background-color: #eceff1;
    // margin: 0 2px;
    flex: 1;
    word-break: break-all;

    border: 1px dashed #9C27B0;
    padding: 12px;
    margin-bottom: 12px;
}
.sly-service-managers-control-panel {
    // border: 2px dashed #673ab7;
    // margin: 2px;
    position: absolute;
    // right: 12px;
    right: 84px;
    background-color: #F3E5F5;
}
.sly-service-managers-tab-page {
    // border: 2px dashed #673ab7;
    // margin: 2px;
    position: absolute;
    right: 12px;
    // width: 60px;
    word-break: break-all;
    background-color: #F3E5F5;
    margin-top: 60px;
}